<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Content-Security-Policy" content="">
    <meta name="description" content="{% block description %}Hymns{% endblock %}">
    <meta name="robots" content="noindex, nofollow">

    <title>{% block title %}Hymns{% endblock %}</title>

    {% block icon %}
        <link href="{{ asset('img/hymns/favicon.png') }}" rel="icon" type="image/png">
    {% endblock %}

    <script src="{{ asset('js/vendor/color-modes.js') }}"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        ym(100916313, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript>
        <div>
            <img src="https://mc.yandex.ru/watch/100916313" style="position:absolute; left:-9999px;" alt="" />
        </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

    <link href="{{ asset('css/vendor/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/app.css') }}?version=1.5" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">

    {% block styles %}{% endblock %}
</head>
<body class="new-scrollbar">
    {% set currentRouteName = app.request.attributes.get('_route') %}
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

    {% block images %}
        {%  include 'components/svg.html.twig' %}
    {% endblock %}

    {% block header %}
        {%  include 'components/header.html.twig' %}
    {% endblock %}

    {% block toast %}
        {%  include 'components/toast.html.twig' %}
    {% endblock %}

    <main class="main">
        {% block main %}{% endblock %}
    </main>

    {% block footer %}
        {%  include 'components/footer.html.twig' %}
    {% endblock %}

    <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}?version=1.6"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
